table {
    width: 100%;
    border-collapse: collapse;
  }
  table td:nth-child(1){
    width: 100px;
  }
  
  table td:nth-child(2) {
    width: 250px;
  }
  
  table td:nth-child(3) {
    width: 100px;
  }
  
  table td:nth-child(4) {
    width: 150px;
  }

  table td:nth-child(5) {
    width: 99px;
  }

  table td:nth-child(6) {
    width: 99px;
  }

  table td:nth-child(7) {
    width: 99px;
  }

  table td:last-child {
    width: 149px;
  }
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: lightgray;
  }
  
  .green {
    background-color: green;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .red {
    background-color: red;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-contenido {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  .cerrar {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .cerrar:hover {
    color: #000000;
  }
  
  input[type="submit"] {
    margin-top: 10px;
  }
  